@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

[x-cloak] { display: none !important; }

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Poppins", ui-serif, Georgia, serif;

    --color-primary: #1D5083;
    --color-primary-hover: #153c63;
}

:root {
    background-color: #f8fafc;
    color: #1e293b;
}

body {
    font-family: var(--font-sans);
}
